body {
  margin: 0;
  /* しまぶーさんおすすめフォント */
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

.top-wrapper {
  font-size: 30px;
  color: blue;
  text-align: center;
}

.dice-wrapper {
  height: 250px;
}

.dice-wrapper h2 {
  color: black;
  background-color: rgb(43, 223, 103);
  width: 180px;
  padding: 20px 20px;
  margin-left: 100px;
  border: 1px solid black;
}

.dice-roll {
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

#dicerollBtn {
  height: 50px;
  padding-top: 20px;
  background-color: burlywood;
  margin: 0 top;
  display: inline-block;
  cursor: pointer;
  padding: 8px 30px;
  box-shadow: 0px 5px rgb(87, 71, 51);
  border-radius: 3px;
  font-size: 30px;
}

#dicerollBtn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

p {
  text-align: center;
  font-size: 25px;
}

.dice-icon {
  width: 40%;
  float: right;
  box-sizing: border-box;
  margin: 50px 0px;
}

.board-wrapper {
  margin-top: 100px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.fa-horse {
  color: brown;
}

.math {
  /* 横スクロール用 */
  display: inline-block;
  width: 150px;

  /* 見た目調整 */
  height: 150px;
  margin: 16px;
  font-size: 30px;
  background: rgba(14, 226, 109, 0.4);
}

#eventmath {
  background: rgba(6, 68, 34, 0.4);
}

.start {
  height: 50px;
  padding-top: 20px;
  background-color: rgb(33, 224, 42);
  margin: 0 top;
  display: inline-block;
  cursor: pointer;
  padding: 8px 30px;
  box-shadow: 0px 5px rgb(28, 70, 25);
  border-radius: 3px;
  font-size: 30px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.start:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}
